body {
	background: #8a044c;
	font-size: 50px;
	font-family: "Comic Sans HS";
}
h1 {
	font-size: 10px;
}
h1 {
	color: purple;
}

.special-subheading {
	font-family: "Comic Sans MS";
	font-size: 40px;
}

.shape {
 background: #00ffff;
 height:500px;
 width: 300px;
 padding-left:10px;
 padding-top: 10px;
 margin-left:70px;
 border-left: 1px solid #000000;

}

.selfie {
	width:10px;
	height: 90px;
}

a {
	color: teal;
	text-decoration: none;
}