		body {

display: fixed;
padding-left: 150px;
padding-right:150px;
padding-bottom:50px;
	background: #fcf0fc; }

h2 {font-family: "Bank Gothic";
font-size: 30px; }

header {font-family: "Bank Gothic";
font-size: 20px; 
color: #262e4e;
padding-left:0px;
padding-top:40px;}

h1 {font-size: 20px;
color: #000000;
font-family: "Bradley Hand ITC TT"}

h4 {font-family: "Bradley Hand ITC TT";
font-size: 20px;
font-weight: bold;}

h3 {font-family: "Tw Cen MT";
font-size: 15px;}

h6 {font-size: 15px;
color: #000000; 
font-family: "BeSLWY Hns IRC TT";
padding-right:100px }


table.style1 {padding-left: 100px; 
padding-top: 20px;
padding-bottom: 20px;
font-family: "Bank Gothic"; 

}

table.style2 { font-family: "Ariel";
font-size: 15px;
padding-left: 100px;
padding-bottom: 50px;
padding-right: }

.shape {
	background: #fac9f8;
	padding-left:40px;
	padding-right: 40px;
 padding-top: 30px;
 padding-bottom:30px;
 margin-right: 0px;
 margin-left: 
 font-family: "Bradley Hand ITC TT";
 font-size: 18px;
}


	/body 
 }
