		body {


display: fixed;
padding-left: 100px;
padding-right:100px;
padding-bottom:100px;
	background: #cfe1f5;
 }

.shape {
	background: #e8f5ff;
	padding-left:50px;
	
 padding-top: 30px;
 padding-bottom:30px;
 margin-right: 0px;
 font-family: "Bradley Hand ITC TT";
 font-size: 18px;
}

h2 {font-family: "Bank Gothic";
font-size: 30px; 
color:#01aef0;}


header {font-family: "Bank Gothic";
font-size: 20px; 
color: #01aef0;
padding-left:0px;
padding-top:40px;}

h1 {font-size: 20px;
color: #b103d7;
font-family: "Bradley Hand ITC TT"}


h6 {font-size: 15px;
color: #556287; 
font-family: "Bank Gothic";
padding-right:100px }


table.style1 {padding-left: 80px; 
padding-top: 20px;
padding-bottom: 20px;
padding-right: 50px;
font-family: "Bank Gothic"; 
}

table.style2 { font-family: "Bank Gothic";
Padding-top: 20px;
padding-left: 100px;
font color:#b300c9;}

.shape {
	background: #01aef0;
	padding-left:1px;
	padding-right: 1px;
 padding-top: 1px;
 padding-bottom:1px;
 margin-right: px;
 font-family: "Bradley Hand ITC TT";
 font-size: 18px;}

 

	/body 
 }
