		body {


padding-left: 150px;
padding-right:100px;
padding-bottom:50px;
	background: #fcf0fc; }

h2 {font-family: "Bank Gothic";
font-size: 30px; }

header {font-family: "Bank Gothic";
font-size: 20px; 
color: #262e4e;
padding-left:0px;
padding-top:40px;}

h1 {font-size: 20px;
color: #000000;
font-family: "Bradley Hand ITC TT"}


h6 {font-size: 15px;
color: #000000; 
font-family: "BeSLWY Hns IRC TT";
padding-right:100px }


table.style1 {padding-left: 80px; 
padding-top: 20px;
padding-bottom: 20px;
padding-right: 50px;
font-family: "Bank Gothic"; 
}

table.style2 { font-family: "Bradley Hand ITC TT";
padding-left: 0px;}

.shape {
	background: #fac9f8;
	padding-left:50px;
	padding-right: 50px;
 padding-top: 30px;
 padding-bottom:30px;
 margin-right: 110px;
 font-family: "Bradley Hand ITC TT";
 font-size: 18px;
}


	/body 
 }
