	body {

	background: #F7F4D8; }

header {font-family: "Bradley Hand ITC TT";
font-size: 20px; }

	title { font-family: "Comic Sans MS";
font-size: 20px;}

a {
	font-size: 2em;
}

h1 {font-size: 20px; }
	

		{font-size: 20px;
	font-family: "Comic Sans MS";}
	

h1 {
	font-size: 70px;
}

h1 {
	color: purple;
}

table {padding-left: 10px; 
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;}

h4 {font-size: 40px;
color: purple;}

.special-subheading {
	font-family: "Comic Sans MS";
	font-size: 70px;
}

.shape {
 background: #CDB380;
 padding-left:10px;
 padding-top: 30px;
 padding-bottom: 30px;
 margin-left:70px;
 margin-right: 70px;

}

.selfie {
	width:10px;
	height: 90px;
}

a {
	color: #3B8686;
	text-decoration: none;}

}
	/body 
 }
